.home-details-container {
  font-family: 'Airbnb Cereal App Medium', sans-serif;
  column-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr minmax(280px, 350px);

  .home-details-header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: 24px;

    h1 {
      grid-column: span 2 / span 2;
      margin: 0;
      line-height: 1.875rem;
      font-size: 1.625rem;
      font-weight: 500;
      color: $primary-black-inverted;
    }

    .home-details-heart {
      display: flex;
      gap: 0.4rem;
      align-items: center;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.2s,
      transform 0.1s cubic-bezier(0.2, 0, 0.1);

      .home-details-heart-icon {
        width: 16px;
        height: 16px;
        fill: #fff;
        stroke: $primary-black-inverted;
        stroke-width: 14;
        transition: color 0.2s, fill 0.2s;
      }

      span {
        color: $primary-black-inverted;
        text-decoration: underline;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
      }

      .home-details-heart-icon.saved {
        color: $primary-pink;
        fill: $primary-pink;
        stroke: $primary-pink;
        transform: scale(0.95);
      }

      &:hover {
        background-color: #f7f7f7;
      }
    }
  }

.home-details-img-container {
  display: grid;
  gap: 0.5rem;
  margin-block-start: 22px;
  grid-column: 1 / -1;

  // one-image
  &.hd-img-layout-1 {
    grid-template-columns: 1fr;

    img {
      width: 100%;
      height: auto;
      max-height: 50vh; 
      object-fit: cover;
      border-radius: 12px;
    }
  }

  // two-images
  &.hd-img-layout-2 {
    grid-template-columns: repeat(2, 1fr);

    img {
      aspect-ratio: 4/3;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    & > :first-child { border-radius: 12px 0 0 12px; }
    & > :last-child { border-radius: 0 12px 12px 0; }
  }

  // three images
  &.hd-img-layout-3 {
    grid-template-columns: repeat(3, 1fr);

    img {
      aspect-ratio: 4/3;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    & > :first-child {
      grid-column: span 2;
      border-radius: 12px 0 0 12px;
    }

    & > :nth-child(2) {
      border-radius: 0 12px 0 0;
    }

    & > :nth-child(3) {
      border-radius: 0 0 12px 0;
    }
  }

  // four images
  &.hd-img-layout-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    img {
      aspect-ratio: 4/3;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    & > :nth-child(1) { border-radius: 12px 0 0 0; }
    & > :nth-child(2) { border-radius: 0 12px 0 0; }
    & > :nth-child(3) { border-radius: 0 0 0 12px; }
    & > :nth-child(4) { border-radius: 0 0 12px 0; }
  }

  // five images
  &.hd-img-layout-5 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    & > :nth-child(1) {
      grid-column: span 2;
      grid-row: span 2;
      border-radius: 12px 0 0 12px;
    }

    & > :nth-child(2) { border-radius: 0 12px 0 0; }
    & > :nth-child(5) { border-radius: 0 0 12px 0; }
  }

  // each single image
  img {
    &:hover {
      filter: brightness(85%);
      transition: filter 0.5s ease;
    }
  }
}

  
    // img,
    // .home-details-img-placeholder {
    //   object-fit: cover;
    //   height: 100%;
    //   width: 100%;
    //   aspect-ratio: 4/3;
    //   min-height: 0;
    // }

    // .home-details-img-placeholder {
    //   background: #f8f8f8;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   border: 2px dashed #ddd;
    //   color: #999;
    //   font-size: 14px;
    // }


    // > :nth-child(1) {
    //   grid-column: span 2 / span 2;
    //   grid-row: span 2 / span 2;
    //   border-radius: 12px 0 0 12px;
    // }

    // > :nth-child(3) {
    //   border-radius: 0 12px 0 0;
    // }

    // > :nth-child(5) {
    //   border-radius: 0 0 12px 0;
    // }

    // &::after {
    //   position: relative;
    //   height: 1px;
    //   opacity: 0;
    //   pointer-events: none;
    // }
  

  .home-details-mid-section {
    grid-column: 1 / -1;
    // margin-block-start: 22px;
    padding-block: 20px;
    display: grid;
    grid-template-columns: 1fr minmax(280px, 350px);
    column-gap: 2rem;
    row-gap: 2rem;
    align-items: start;
    overflow: visible;

    .home-details-mid-left-part-wrapper {
      .home-details-amenities {
        display: flex;
        flex-direction: column;
        padding-block-end: 32px;

        & > * {
          padding: 0;
          margin: 0;
        }

        font-size: 0.875em;
        color: $secondary-font-gray;

        h2 {
          color: $primary-black-inverted;
          font-size: 1.375rem;
          line-height: 1.625rem;
          font-weight: 500;
        }

        .home-details-amenities-list {
          display: flex;
          flex-direction: row;
          gap: 0.2rem;

          p, span {
            font-size: 1rem;
            line-height: 1.25rem;
            color: $primary-black-inverted;
            font-weight: 400;
            margin: 0;
            padding: 0;
          }
        }

        .home-details-reviews-headline {
          display: flex;
          flex-direction: row;
          gap: 4px;

          span {
            font-size: 0.98rem;
            line-height: 1.575rem;
            font-weight: 500 !important;
            color: $primary-black-inverted;
            display: flex;
            align-items: center;
            gap: 4px;
          }

          & :nth-child(3) {
            text-decoration: underline;
          }
        }
      }
      .home-details-hosted-by-article {
        padding-block: 1.5rem;
        line-height: 1.25rem;
        display: flex;
        gap: 1.5rem;
        border-bottom: 1px solid #e0e0e0;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .home-details-hosted-by-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: $primary-black-inverted;
          font-weight: 500;
          line-height: 1.25rem;
          font-size: 1rem;

        }

      }
      .home-details-home-highlights {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-block-start: 22px;
        padding-block-end: 22px;
        border-bottom: 1px solid #e0e0e0;

        & > article {
          display: grid;
          grid-template-columns: 56px auto;
          align-items: center;
          font-size: 0.875em;

          .home-highlights-icon {
            grid-column: 1;
            grid-row: 1 / 3;
            width: 24px;
            height: 24px;
            color: $primary-black-inverted;
            align-self: start;
          }

          h4 {
            color: $primary-font-black;
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 500;
            margin-block-end: 2px;
          }

          p {
            grid-column: 2;
            font-size: 0.875rem;
            margin: 0;
            color: $secondary-font-gray;
            font-weight: 400;
            line-height: 1.25rem;
          }
        }
      }

      .home-details-summary {
        border-bottom: 1px solid #e0e0e0;
        margin-block-start: 2rem;
        padding-block-end: 3rem;
        color: $primary-black-inverted;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.25rem;

        h3 {
          font-size: 1.375rem;
          font-weight: 400;
          line-height: 1.625rem;
          color: $primary-black-inverted;
        }

        p {
          font-size: 1rem;
          margin-block-start: 0.5rem;
          color: $primary-black-inverted;
          line-height: 1.375rem;  
          font-weight: 400;
        }
      }

      .home-details-facilities-list {
        color: $primary-font-black;
        padding-block-start: 3rem;
        padding-block-end: 2rem;
        margin-inline: 1rem;

        h3 {
          font-size: 1.375rem;
          font-weight: 500;
          line-height: 1.375rem;
          padding-block-end: 1.5rem;
          color: $primary-black-inverted;
          letter-spacing: -0.01375rem;
          margin: 0;
        }

        .amenities-list {
          list-style: none;
          padding: 0;
          margin: 0;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          // gap: 1rem;
          margin-block-end: 1rem;

          .amenity-item {
            display: flex;
            align-items: center;
            color: $primary-font-black;
            padding-block-end: 1.5rem;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.25rem;

            .svg-icon {
              width: 32px;
              height: 32px;
              display: flex;

              .injected-svg {
                width: 100% !important;
                height: 100% !important;
                max-width: none !important;
                max-height: none !important;
                stroke: currentColor;
                fill: none;
                flex-shrink: 0;
              }
            }
          }

          span {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .home-details-mid-right-part-wrapper {
    width: 100%;
    z-index: 10;
    align-self: start;
    height: 100%;
    display: flex;
    flex-direction: column;

    .home-details-sticky-sidebars {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: sticky;
      top: 60px;
      align-self: flex-start;
      max-width: 350px;
      margin-inline-start: auto;
      width: clamp(240px, 22vw, 350px);

      .rare-modal {
        display: flex;
        gap: 0.5rem;
        flex-direction: row;
        align-self: flex-start;
        justify-content: center;
        justify-self: flex-end;
        font-size: 14px;
        border-radius: 12px;
        margin-block-start: 1em;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;
        padding: 1em 0.5rem;
        grid-column: 3 / 4;
        grid-row: 1;
        width: clamp(240px, 22vw, 350px);

        .diamond-icon {
          font-size: 1.5em;
          color: $primary-pink;
        }

        p {
          color: $primary-font-black;
          font-weight: 500;
          margin: 0;
          padding: 0;
        }
      }

      &::after {
        position: relative;
        height: 1px;
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .home-details-reviews-section {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .home-details-google-maps-section {
    grid-column: 1 / -1;
    padding-block-start: 2rem;
    padding-block: 3rem;
    border-top: 1px solid #e0e0e0;

    h2 {
      color: $primary-black-inverted;
      font-size: 1.375rem;
      font-weight: 500;
      line-height: 1.625rem;
      margin-block-end: 1.5rem;
      letter-spacing: -0.01375rem;
    }

    div:first-child {
      height: 500px;
      width: 100%;
      border-radius: 20px;
    }
  }
}

@media (max-width: $narrow-breakpoint) {
}
