
.home-edit-container {
    display: grid;
    grid-template-rows: minmax(4rem, auto) 1fr minmax(5rem, auto);    height: 100dvh; 
    width: 100%;
    overflow: hidden; // למנוע scroll מיותר אם נשאר פיקסל עודף
    .home-edit-main {
      grid-row: 2;
      display: flex;
      align-items: center;         
      justify-content: center;
      // height: 100%;
      // width: 100%;
      // overflow-y: auto; 
      // padding-block-end: 5.75rem; 
      animation-duration: 0.6s;
      animation-fill-mode: forwards;
      padding: 2rem; 
      -ms-overflow-style: none; // IE/Edge

    &::-webkit-scrollbar {
        display: none;  // Chrome/Safari
    }
        &.fade-in {
            animation-name: fadeIn;
        }

        &.fade-out {
            animation-name: fadeOut;
        }
    }
    
}  

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

    

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: $mobile-breakpoint) {

}

@media (min-width: $narrow-breakpoint) {
    
    .home-edit-next-btn {
            padding-inline: 32px;
        }
}

@media (max-width: $tablet-breakpoint) {
    
}

.loader {
  width: 30px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, currentColor 90%, transparent);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}