
.home-edit-container {
    display: grid;
    grid-template-rows: 1fr 5.75rem;
    height: 100vh;
  
   
    .home-edit-main {
        overflow-y: auto; 
        padding: 1rem; 
        box-sizing: border-box;
    }
    
}    

@media (max-width: $mobile-breakpoint) {

}

@media (min-width: $narrow-breakpoint) {
    
    .home-edit-next-btn {
            padding-inline: 32px;
        }
}

@media (max-width: $tablet-breakpoint) {
    
}