.app-header {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  grid-template-rows: auto auto;
  transition: grid-template-rows 0.3s ease;
  position: sticky;
  top: 0;
  grid-row: 1;
  z-index: 100;
  max-width: 100vw;
  width: 100%;
  height: auto;
  min-height: 65px;
  max-height: 250px;
  overflow: visible;
  background: linear-gradient(180deg, #ffffff 39.9%, #f8f8f8 100%);
  transition: all 0.3s ease, grid-template-rows;
  //background: #ffffff;

  // &.expanded {
  //   // grid-template-rows: minmax(140px, auto) 1fr; // push down or hide row 2
  // }

  .app-header-main-nav,
  .app-header-bottom-row {
    grid-template-columns:
      minmax(20px, 1fr)
      minmax(auto, 1120px)
      minmax(20px, 1fr);
  }
  &.expanded {
    min-height: 140px;
    grid-template-rows: auto auto; //(4rem, auto);
    //background: linear-gradient(180deg, #ffffff 39.9%, #f8f8f8 100%);
  }

  &.scrolled {
    grid-template-rows: auto;
  }

  &.one-row-divider {
    grid-template-rows: auto;
    border-bottom: 1px solid $divider-color;
  }

  & > .app-header-main-nav {
    grid-row: 1;
    grid-column: 1 / -1; // spans full width of the main layout
    display: grid;
    grid-template-columns: inherit;
    width: 100%;
    min-height: 65px;
    // padding-block: 0.5rem;
    //background: linear-gradient(180deg, #ffffff 39.9%, #f8f8f8 100%);
    transition: all 0.3s ease;
    padding-bottom: 2rem;
    border-bottom: 1px solid $divider-color; // #ececec;

    // &.scrolled {
    //   border-bottom: 1px solid $divider-color;
    // }

    & > .app-header-main-nav-content {
      grid-row: 1;
      grid-column: 2;
      display: flex;
      margin-block-start: 1.5rem;
      align-items: start;
      justify-content: space-between;
      width: 100%;
      z-index: 20;
      overflow: visible;
      // padding-block: 1rem;

      .app-header-left-section,
      .app-header-right-section {
        display: flex;
        align-items: center;
      }
      .app-header-left-section {
        grid-column: 1;
      }

      .app-header-right-section {
        grid-column: 3;
      }
      .app-header-left-section {
        .logo {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-weight: 600;
          letter-spacing: -0.5px;
          color: $primary-pink;
          flex: 0 0 auto;
          min-width: 0;
          text-decoration: none;

          .logo-icon {
            width: 2em;
            height: 2em;
          }

          & > span {
            font-size: 1.3em;
          }
          &.active {
            border-color: $primary-pink;
          }
        }
      }

      // .app-header-mid-section {
      //   grid-row: 2;
      //   //align-self: flex-start;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   flex: 1 1 auto;
      //   min-width: 0;
      //   position: relative;
      //   border:5px solid red;
      //   // padding-block: 1rem;

      //   .hosting-header-nav {
      //     display: flex;
      //     align-items: center;
      //     justify-content: center;
      //     flex-wrap: nowrap;
      //     gap: 8px;
      //     width: 100%;
      //     flex: 1 1 auto;
      //     min-width: 0;
      //     position: relative;
      //     & > a {
      //       padding: 12px;
      //       border-radius: 12px;
      //       line-height: 1.125rem;
      //       font-size: 14px;
      //       color: $secondary-font-gray;
      //       outline: none;
      //       width: auto;
      //       position: relative;
      //       text-decoration: none;
      //       white-space: nowrap;
      //       transition: color;
      //       font-weight: 500;

      //       &::after {
      //         content: '';
      //         position: absolute;
      //         bottom: -1px;
      //         left: 5%;
      //         height: 3px;
      //         width: 90%;
      //         transform: scaleX(0);
      //         transform-origin: right;
      //         background-color: $primary-font-black;
      //         transition: transform 0.3s ease;
      //       }
      //       &:hover {
      //         color: $primary-font-black;
      //       }
      //       &.active::after {
      //         transform: scaleX(1);
      //       }

      //       &:nth-child(1).active::after {
      //         transform-origin: right;
      //       }

      //       &:nth-child(2).active::after {
      //         transform-origin: left;
      //       }

      //       &.active {
      //         color: $primary-font-black;
      //       }
      //     }
      //   }

      //   .searchbar-wrapper {
      //     width: 100%;
      //     max-width: 850px;
      //     //margin: 0 auto;
      //     // position: relative;
      //     // margin-top: -2.5rem;
      //     transition: all 0.3s ease;

      //     &.expanded {
      //       margin-top: 2rem;
      //     }
      //   }
      // }
    }
  }
  .app-header-mid-section {
    grid-row: 2;
    //align-self: flex-start;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
    //border:1px solid red;
    // padding-block: 1rem;

    .hosting-header-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      gap: 8px;
      width: 100%;
      flex: 1 1 auto;
      min-width: 0;
      position: relative;
      & > a {
        padding: 12px;
        border-radius: 12px;
        line-height: 1.125rem;
        font-size: 14px;
        color: $secondary-font-gray;
        outline: none;
        width: auto;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
        transition: color;
        font-weight: 500;

        &::after {
          content: '';
          position: absolute;
          bottom: -1px;
          left: 5%;
          height: 3px;
          width: 90%;
          transform: scaleX(0);
          transform-origin: right;
          background-color: $primary-font-black;
          transition: transform 0.3s ease;
        }
        &:hover {
          color: $primary-font-black;
        }
        &.active::after {
          transform: scaleX(1);
        }

        &:nth-child(1).active::after {
          transform-origin: right;
        }

        &:nth-child(2).active::after {
          transform-origin: left;
        }

        &.active {
          color: $primary-font-black;
        }
      }
    }

    .searchbar-wrapper {
      width: 100%;
      //border:1px solid yellow;
      max-width: 850px;
      transition: all 0.3s ease;
    }

    &.scrolled {
      grid-row: 1;
      grid-column: 2;
      transition: all 0.3s ease;
    }

    // &.expanded {
    //   grid-row: 2;
    //   grid-column: 2;
    //   transition: all 0.3s ease;
    // }
  }
  .app-header-right-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    & > a {
      background-color: none;
      color: $primary-font-black;
      transition: background-color 0.2 ease;
      border-radius: 20px;
      padding: 8px 12px;
      font-weight: 500;
      font-size: 14px;
      white-space: nowrap;
      &:hover {
        background-color: $secondary-hover-gray;
      }
    }
    .user-info {
      display: flex;
      position: relative;

      gap: 10px;
      & > a {
        // align-self: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        // border: 3px solid $primary-pink;
        border-radius: 50%;
        padding: 2px;
        width: 40px;
        height: 40px;
        &:hover {
          text-decoration: none;
        }
        img {
          object-fit: cover;
          border-radius: 50%;
          // padding: 2px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .app-header-bottom-row {
    grid-row: 2;
    //grid-column: 2;
    grid-column: 1 / -1;
    // display: flex;
    // justify-content: center;
    // align-items: start;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(0, 1400px) minmax(2rem, 1fr);

    transition: all 0.4s ease;
    padding-block: 0.75rem;
    row-gap: 0;
    margin: 0;
    padding: 0;
    left: 0;

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    //border:1px solid green;
    background: #ffffff;
    width: 100%;

    &.expanded {
      max-height: 200px;
      opacity: 1;
      z-index: 0;
    }

    & > .app-header-labels-slider-wrapper {
      grid-column: 2;
      width: 100%;
      // padding-block: 0.5rem;
      //display: flex;
      // gap: 1rem;
      overflow-x: auto;
      scrollbar-width: none; // Firefox
      -ms-overflow-style: none; // IE/Edge
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  @include for-mobile-layout {
    grid-template-columns:
      minmax(20px, 1fr)
      minmax(auto, $mobile-breakpoint)
      minmax(20px, 1fr);
  }
  @include for-narrow-layout {
    grid-template-columns:
      minmax(20px, 1fr)
      minmax(auto, $mobile-breakpoint)
      minmax(20px, 1fr);
  }
  @include for-normal-layout {
    grid-template-columns:
      minmax(20px, 1fr)
      minmax(auto, $narrow-breakpoint)
      minmax(20px, 1fr);
  }
  // @include for-wide-layout {
  //     grid-template-columns:
  //         minmax(20px, 1fr)
  //         minmax(auto, $normal-breakpoint)
  //         minmax(20px, 1fr);
  // }
}

// @media (max-width: 900px) {
//   .app-header {
//     nav {
//       .login-link {
//         // display: none;
//       }
//     }
//     .user-info {
//       // display: none;
//     }
//   }
// }

// Stage 2: Hide logo completely, keep only user menu and search
// @media (max-width: 820px) {
//   .app-header {
//     nav {
//       .logo {
//         // display: none;
//       }
//     }
//   }
// }

// Stage 3: Hide user menu too, keep only search bar
@media (max-width: 768px) {
  .app-header {
    nav {
      // .user-info {
      //   display: none;
      // }
      .logo span {
        display: none;
        margin-inline-start: 20px;
      }
    }
  }
}

@media (max-width: 600px) {
  .app-header {
    nav {
      .user-info {
        display: none;
      }
      .logo {
        display: none;
      }
    }
  }
}

// display: flex;
//             justify-content: center;
//             align-items: center;
//             border-radius: 6.25rem;
//             border: 1px solid $primary-hover-gray;
//             height: 3rem;
//             width: 5.375rem;
//             gap: 0.625rem;
//             background-color: $clr6;
//             transition: box-shadow 0.2s ease;
//             .injected-svg {
//               width: 24px;
//               height: 24px;
//               display: block;
//               color: $gray3;
//             }
//             &:hover {
//               box-shadow: 0 2px 4px #0000002e;
//             }
