.app-header {
  min-height: 5rem;
  top: 0;
  z-index: 10;
  background: linear-gradient(180deg, #ffffff 39.9%, #f8f8f8 100%);
  padding-bottom: 1rem;
  padding-top: 1rem;
  gap: 2rem;

  border-bottom: 1px solid $divider-color;

  &.scrolled {
    position: sticky;
    transition: all 0.4s;
  }

  nav {
    display: grid;
    grid-template-columns: 0.5fr auto 0.5fr;
    gap: 1rem;

    // align-items: center;
    // font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.2px;
    // & > :last-child {
    //   grid-row: 3 / 4;
    //   grid-column: 1 / 4;
    //   justify-self: flex-end;
    // }
    .login-link {
      justify-self: flex-end;
      align-self: center;
      grid-column: 3/4;
    }
    a {
      color: $secondary-font-gray;
      margin-inline-end: 20px;
      align-self: center;
      justify-self: center;
      margin: 0 auto;
    }
    .user-info {
      align-self: center;
      justify-self: center;
      margin: 0 auto;
    }
    .active {
      font-weight: 600;
      color: $primary-font-black;
    }
    a {
      position: relative;
      padding-bottom: 4px;
      text-decoration: none;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $primary-font-black;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.2s ease;
      }

      &.active::after {
        transform: scaleX(1);
      }
    }
    a.active:hover {
      text-decoration: none;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 0.5em;
      font-size: 1.4em;
      font-weight: 600;
      letter-spacing: -0.5px;
      color: $primary-pink;
      // margin-inline-end: 2em;
      &.active {
        border-color: $primary-pink;
      }
    }

    .logo.active::after {
      transform: none;
      content: none;
    }

    .nav-links-container {
      display: flex;
      align-items: center;
      gap: 1em;
    }

    button {
      margin-inline-end: 0;
    }

    .user-container {
      justify-self: end;
      .user-menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6.25rem;
        border: 1px solid $primary-hover-gray;
        height: 3rem;
        width: 5.375rem;
        gap: 0.625rem;
        background-color: $clr6;
        transition: box-shadow 0.2s ease;
        .injected-svg {
          width: 24px;
          height: 24px;
          display: block;
          color: $gray3;
        }
        &:hover {
          box-shadow: 0 2px 4px #0000002e;
        }
      }
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    margin-inline-start: auto;

    grid-column: 3/4;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid $primary-pink;
      border-radius: 50%;
      padding: 2px;
      width: 46px;
      height: 46px;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
    }

    .btn-link {
      color: $clr2;
    }
  }
}

@media (max-width: 900px) {
  .app-header {
    nav {
      .login-link {
        // display: none;
      }
    }
    .user-info {
      // display: none;
    }
  }
}

// Stage 2: Hide logo completely, keep only user menu and search
@media (max-width: 820px) {
  .app-header {
    nav {
      .logo {
        // display: none;
      }
    }
  }
}

// Stage 3: Hide user menu too, keep only search bar
@media (max-width: 768px) {
  .app-header {
    nav {
      // .user-info {
      //   display: none;
      // }
      .logo span {
        display: none;
        margin-inline-start: 20px;
      }
    }
  }
}

@media (max-width: 600px) {
  .app-header {
    nav {
      .user-info {
        display: none;
      }
      .logo {
        display: none;
      }
    }
  }
}
