.dates-dropdown-wrapper {
  position: absolute;
  top: 100%;  
  left: 0;    
  z-index: 20;
  width: 100%; 
}

.dates-dropdown-panel {
  margin-top: 10px;
  background: white;
  border-radius: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  z-index: 20;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease, opacity 0.3s ease, transform 0.3s ease,
    width 0.3s ease, left 0.3s ease;
  animation: dropdownFadeIn 0.3s ease forwards;
}

.react-datepicker {
  border: none;
  display: grid;
  grid-template-columns: auto auto; 
  justify-items: center;
  align-items: start;
  gap: 2rem; 
  font-size: 14px;
  width: 100%;
  background-color: white;
  font-family: Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont,
    Roboto, 'Helvetica Neue', sans-serif;
}

.react-datepicker__month-container {
  margin: 0 auto;
  width: auto;
  background-color: white;
}

.react-datepicker__month {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.react-datepicker__week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}


.react-datepicker__header {
  background: white;
  border: none;
  padding: 0.5rem 1rem;

  display: flex;
  justify-content: space-between; 
  align-items: center;
  text-align: center;
}

.react-datepicker__current-month {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.react-datepicker__day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 0.5rem;
}

.react-datepicker__day-name {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: #717171;
}

.react-datepicker__day {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(34, 34, 34);
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.react-datepicker__day:not(.react-datepicker__day--disabled):hover {
  background-color:white;
  box-shadow: 0 0 0 2px black inset;
  border-radius: 50%;
}

.react-datepicker__day--disabled {
  color: #ccc;
  cursor: default;
  background-color: transparent;
}

.react-datepicker__day--in-range {
  background-color: #f0f0f0 !important;
  color: #222;
  border-radius: 0;
}


.react-datepicker__day--in-selecting-range,
.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  background-color: black !important;
  color: white !important;
  border-radius: 50% !important;
}

.react-datepicker__day--disabled {
  color: #ccc;
  cursor: default;
}

.react-datepicker__navigation {
  transform: none;
  line-height: 1;
  width: 30px;
  height: 30px;
}

.react-datepicker__navigation:hover{
  
  background-color: #faf8f8;
  border-radius: 50%;
}

.react-datepicker__navigation-icon::before {
  border-color: #222;
  border-width: 2px 2px 0 0;
  width: 8px;
  height: 8px;
}

.react-datepicker__navigation--previous {
  left: 1.5rem;
}

.react-datepicker__navigation--next {
  right: 1.5rem;
}


