.dots-indicator {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  z-index: 10;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $clr6; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-inline-start: 0;
  opacity: 0.6;
  transition-property: transform, opacity;

}

.dot:hover {
  background: rgba(255, 255, 255, 0.7); 
}

.dot.active {
  transform: scale(1.25);   
  opacity: 1;
}