.home-details-scrolled-header {
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  //fontsize smaller than the origin, full layout -> full separation line
  & > nav {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.5em;
    // width: 25%;
    & > div {
      font-weight: 500;
      font-size: 1rem;
      padding: 15px 0px;
      text-decoration: none;
      color: $primary-font-black;
      display: inline-block;
      position: relative;
    }
  }

  .reservation-header-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // position: absolute;
    // right: 0px;
    // top: 50%;
    // transform: translateY(-50%);
    white-space: nowrap;

    .reservation-header-modal-text-container {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      margin-inline-end: 16px;
      color: $primary-font-black;
      line-height: 1.25rem;
      & > div:nth-child(1) {
        white-space: nowrap;
        display: flex;
        gap: 5px;
        align-self: center;
        & > span:nth-child(1) {
          font-weight: 500;
          font-size: 1rem;
        }
        & > span:nth-child(2) {
          font-weight: normal;
          font-size: 0.875rem;
        }
      }
      & > div:nth-child(2) {
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        font-size: 0.75rem;
        line-height: 1rem;
        & > span:nth-child(1) {
          font-weight: 500;
          padding-inline-start: 4px;
          padding-inline-end: 2px;
        }
        // &>span:nth-child(2){
        //     font-weight: normal;
        //     font-size: 0.875rem;
        //     padding-inline-start: 4px;

        // }
        & > span:nth-child(3) {
          font-weight: normal;
          font-size: 0.875rem;
          padding-inline-start: 4px;
        }
      }
    }

    & > button {
      width: 100%;
      flex-shrink: 0;
      width: 148px;
      padding: 14px 24px;
      line-height: 1.25rem;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
      background: $primary-pink;
      color: white;
      border-radius: 999px;
      transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    }
  }
}
