.home-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
  column-gap: 1.5em; //relative fontsize- 16px?
  row-gap: 2.5em; 
  list-style-type: none;
  margin: 2em auto;

  

}
