.home-edit-footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 2;
    


    .home-edit-footer-loader {
        height: 8px;
        width: 15%;
        position: absolute;
        left: 0;
        top: 50%;
        bottom: 80px;
        z-index: 999;
        background-color: $primary-font-black;
        transition: all 0.3s ease-in-out;
        transform: translate(-50%, -50%);
        overflow-x: hidden;
        flex-grow: 1;
        margin-right: 0px
    }
}