.home-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  column-gap: 1.5em;
  row-gap: 2.5em;
  list-style-type: none;
  margin: 2em auto;

  &.cards-container-narrow {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    column-gap: 2rem;
    row-gap: 3rem;
    margin: 1rem auto;

    @media (max-width: 768px) {
      // grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      column-gap: 0.75rem;
      row-gap: 1.25rem;
    }

    @media (max-width: 480px) {
      // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      column-gap: 0.5rem;
      row-gap: 1rem;
    }
  }
}
