.home-edit-step-1-container {
    grid-column: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease-in-out;
    animation: fade-in 1s ease-in-out;
    margin: 10px 0;

    
}