.heart-icon-container {
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;

  .heart {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .filled {
    color: $secondary-font-gray;
    opacity: 0.8;
  }
  .heart.filled.liked {
    color: $primary-pink;
    opacity: 1;
  }

  .outline {
    color: white;
  }

  &:hover .outline {
    transform: scale(1.1);
    transition: transform 0.6s ease;
  }
}

.home-details-star {
  font-size: 0.875em;
}
