
.label-preview {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  text-align: center;


  & span {
    font-size: 0.8rem;
    color: $secondary-font-gray;
    transition: color;
    line-height: 1rem;
    position: relative;
    padding: 0.5rem 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $primary-font-black;

      opacity: 0.5;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s;
    }
  }

  &:hover span::after {
    opacity: 1;
    transform: scaleX(1);
    color: $primary-font-black;
  }

  & img {
    width: 1.5rem;
    transition: opacity;
    opacity: 0.6;
  }

  &:hover img {
    opacity: 1;
  }

  &:hover span {
    color: $primary-font-black;
  }
}
