.label-preview {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  min-width: 64px;
  text-align: center;

  & span {
    font-size: 0.8rem;
    color: $secondary-font-gray;
    transition: color;
    line-height: 1rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      height: 1px;
      opacity: 0;
      width: 100%;
      background-color: $primary-font-black;
      transition: opacity;
    }
  }

  &:hover span::after {
    opacity: 0.5;
  }

  & img {
    width: 1.5rem;
    transition: opacity;
    opacity: 0.6;
  }

  &:hover img {
    opacity: 1;
  }

  &:hover span {
    color: $primary-font-black;
  }
}
