.home-details-reservation-modal-section {
  border-radius: 0.75rem;
  border: 0px solid $primary-hover-gray;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  padding: 1.5rem;
  margin-inline-start: 0;
  color: $clr7;
  line-height: 1.25rem;
  width: 100%;

  .reservation-header {
    display: flex;
    justify-content: space-between;
    margin-block-end: 1.5rem;

    align-items: end;
    .reservation-header-price-container {
      span:nth-child(1) {
        font-size: 1.375rem;
        font-weight: 700;
      }
      span:nth-child(2) {
        font-size: 1.2rem;
      }
    }
  }
  .reservation-selection {
    border: 1px solid gray;
    border-radius: 0.5rem;
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    cursor: pointer;
    * {
      min-width: 0;
    }
    .reservation-selection-date-checkin {
      position: relative;
      padding: 26px 12px 10px;
      grid-column: 1;
      grid-row: 1;
      font-size: 14px;
      border-inline-end: 1px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: center;

      div:nth-child(1) {
        position: absolute;
        top: 12px;
        right: 12px;
        left: 12px;
        font-size: 0.625rem;
      }
      div:nth-child(2) {
      }
    }
    .reservation-selection-date-checkout {
      grid-column: 2;
      grid-row: 1;
      padding: 26px 12px 10px;
      position: relative;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      div:nth-child(1) {
        position: absolute;
        top: 12px;
        right: 12px;
        left: 12px;
        font-size: 0.625rem;
      }
      div:nth-child(2) {
      }
    }

    .dates-dropdown-wrapper {
      // position: absolute;
      // top: 100%;
      // left: 0;
      // z-index: 20;
      // width: 100%;
    }

    .reservation-selection-guest-container {
      grid-column: 1 / -1;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-top: 1px solid gray;
      padding: 12px 12px 10px;
      width: 100%;

      .reservation-selection-guests-input {
        position: relative;
        font-size: 14px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2px;
        div:nth-child(1) {
          font-size: 0.625rem;
          margin-bottom: 2px;
          position: static;
        }
        div:nth-child(2) {
          line-height: 1.2;
          font-size: 1rem;

          .injected-svg {
            width: 24px;
            height: 24px;
            display: block;
            fill: currentColor;
            color: black;
            transition: width 0.3s ease, height 0.3s ease;
            flex-shrink: 0;
          }
        }
      }
    }

    .reservation-selection-guest-dropdown-wrapper {
      width: 100%;
      display: block;
      position: relative;

      .capacity-dropdown-container {
        .capacity-dropdown-panel {
          position: absolute;
          margin-top: 10px;
          background: white;
          top: 100%;
          left: 0;
          margin-block-end: 1rem;
          width: 100%;
          min-width: 280px;
          text-align: left;
          background: $clr8;
          border-radius: 1.5rem;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
          z-index: 10;
          opacity: 0;
          transform: translateY(-10px);
          transition: all 0.3s ease, opacity 0.3s ease, transform 0.3s ease,
            width 0.3s ease, left 0.3s ease;
          animation: dropdownFadeIn 0.3s ease forwards;
          padding-block-end: 40px;

          .capacity-drowdown-categories-wrapper {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 12px;

            .capacity-drowdown-category-row {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              margin-block-start: 0.1rem;
              margin-block-end: 0.1rem;
              color: $primary-font-black;

              // padding-right: 4px;

              .category-row-description {
                flex: 1 1 0;

                div:nth-child(1) {
                  font-weight: 500;
                  font-size: 1rem;
                  line-height: 1.7;
                }
                div:nth-child(2) {
                  font-weight: 500;
                  font-size: 0.75rem;
                  line-height: 1rem;
                }
              }
              .category-row-user-action {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                & > button {
                  background-color: $clr8;
                  border: 1px solid $gray7;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  flex-shrink: 0;
                  flex-grow: 0;
                  height: 28px;
                  width: 28px;
                  // color: $secondary-font-gray

                  .injected-svg {
                    height: 12px;
                    width: 12px;
                    display: block;
                    fill: none;
                    stroke: currentcolor;
                    stroke-width: 5.33333;
                    overflow: visible;
                    color: $secondary-font-gray;
                  }
                  &:disabled {
                    cursor: not-allowed;
                    .injected-svg {
                      color: $clr9;
                    }
                  }
                }
              }
            }
            & > .capacity-drowdown-category-row:nth-last-child(2) {
              & > div:nth-child(1) {
                & > div:nth-child(2) {
                  text-decoration: underline;
                  width: 90%;
                  font-weight: 600;
                }
              }
            }
            .capacity-dropdown-capacity-description {
              font-size: 0.7rem;
            }
          }
          & > button {
            text-decoration: underline;
            color: $primary-font-black;
            display: inline-block;
            margin-inline-end: auto;
            // margin-inline-start: -10px;
            background-color: transparent;

            position: absolute;
            right: 0.3rem;
            bottom: 0.3rem;
            font-weight: 600;
            font-size: 1rem;
            &:hover {
              background-color: $secondary-hover-gray;
            }
          }
        }
      }
    }
    input {
      max-width: 100%;
      min-width: 0;
      outline: none;
      border: none;
      background: transparent;
      font: inherit;
    }
  }

  & > button {
    width: 100%;
    padding: 14px;
    margin-block: 0.4rem;
    font-size: 1em;
    font-weight: 600;
    background: $primary-pink;
    color: white;
    border-radius: 1.5rem;
    border: 1px solid $primary-hover-gray;
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }

  & > span {
    text-align: center;
    font-size: 0.9rem;
  }

  .reservation-summary-information-container {
    padding-block-start: 1rem;

    .cost-breakdown-container {
      display: flex;
      flex-direction: column;

      .reservation-summary-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        line-height: 2;
        span:nth-child(1) {
          text-decoration: underline;
        }
      }
      .reservation-summary-row.total {
        font-weight: 700;
        padding-block-start: 1rem;
        border-top: 1px solid gray;
        margin-block-start: 1.5rem;
        span:nth-child(1) {
          text-decoration: none;
        }
      }
    }
  }
  .reservation-selection {
    position: relative;

    .dates-dropdown-wrapper {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 9999;

      min-width: 650px;
      max-width: none;

      .react-datepicker {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 2rem;
        background: #fff;
        border-radius: 1.5rem;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
        padding: 1.5rem;
      }

      .react-datepicker__month-container {
        flex: 1 1 0;
      }
    }
  }
}

// .reservation-section {
//   grid-column: 3 / 4;
//   grid-row: 1;
//   align-self: start;
//   // top: 17rem;
//   margin-top: 6rem;

// }
