.search-bar-mobile {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  position: relative;
  margin-top: 0.75rem;
  z-index: 20;
 font-family: 'Airbnb Cereal App Medium', 'Airbnb Cereal', 'Montserrat', 'Nunito', 'Circular', -apple-system, BlinkMacSystemFont,
               'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
               'Helvetica Neue', sans-serif;

transition: all 0.3s ease;


  //..closed mode
  .search-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $search-bar-height-mobile;
    gap: 8px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    border-radius: 2rem;
    background-color: #fff;
    border: 1px solid #ececec;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;


//     .search-txt {
//         display: inline;
//         margin-left: 8px;
//         font-size: 15px;
//         white-space: nowrap;
//     }

    .injected-svg {
      width: 12px;
      height: 12px;
      stroke: black !important;
      stroke-width: 4 !important;
    }

    .search-txt_mobile {
      font-size: 15px;
      color: #222;
    }
  }

  //..open mode (after first click on search)
  .search-expanded {
    position: fixed;
    inset: 0;
    background: #fff;
    display: flex;
    flex-direction: column;

  .search-expanded-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5rem;
    padding: 0 1rem;
    
    //border-bottom: 1px solid #eee;

    .close-btn_mobile {
      background: #FFFFFF6A;
      color:#222222;
      border: 1px solid $divider-color;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
    }
  }
  
  .where-section, .dates-section, .who-section {
    position: relative;
    margin: 0.5rem;
    padding: 1.5rem;
    background: transparent;
    border: 1px solid $divider-color;
    border-radius: 1.5rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    overflow: hidden;

     opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease, opacity 0.3s ease, transform 0.3s ease,
    width 0.3s ease, left 0.3s ease;
    animation: dropdownFadeIn 0.3s ease forwards;
    

    .sTitle {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      text-align: start;
    }

    .where-input {
      width: 100%;
      height: 3.5rem;
      padding: 0.75rem 1rem;
      border: 1px solid #989797;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      font-size: 15px;
      z-index: 20;

      background: url('/svgs/search-icon-black.svg') no-repeat 12px center;
      background-size: 16px;
      padding-left: 2.5rem;
    }

    .where-dropdown-wrapper {
      margin-top: 1rem;
    }

    &.active {
      opacity: 1;
      height: auto;
      //pointer-events: auto;
    }

    &.closed {
      //opacity: 0.8;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 56px; 
      padding: 1rem;   // צמצום פנימי
      border: 1px solid #ddd; 
      border-radius: 1rem;
      background: #fafafa;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0.5rem;
      
      .sTitle{
        color:#6A6A6A;
        font-size: 14px;
        margin-bottom: 0;
      }
    }
  }

  .btnsRow{
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }


  .next-btn{
    width: 5rem;
    height: 3rem;
    background-color: black;
    border-color: black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
  }

  .clearBtn{
    border: none;
    background: none;
    color: #222222;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    height: 46px;
    width: 120px;
    padding: 0;
  }

  .search-submit-btn {
      background: linear-gradient(
        to right,
        #e61e4d 0%,
        #e31c5f 50%,
        #d70466 100%
      );
      display: flex;
      justify-content: center;
      align-items: center;
      height: 46px;
      border-radius: 8px;
      border: none;
      margin: 0px;
      padding: 10px;
      right: 10px;
      width: 120px;
      transition: all 0.3s ease;
      font-size: 16px;
      font-weight: 600;
      gap: 8px;

      .injected-svg {
        width: 16px;
        height: 16px;
        display: inline;
        stroke: white !important;
        stroke-width: 4 !important;
        //transition: width 0.3s ease, height 0.3s ease;
      }

      .search-elements {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  // .search-submit-btn {
  //   margin-top: auto;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   gap: 8px;
  //   height: 3rem;
  //   border-radius: 2rem;
  //   border: none;
  //   background: #ff385c;
  //   color: #fff;
  //   font-weight: 600;
  //   cursor: pointer;
  // }
  // }

  // .injected-svg {
  //   width: 14px;
  //   height: 14px;
  //   stroke: black !important;
  //   stroke-width: 3 !important;
  // }
}


// .search-bar-mobile{
//     grid-row: 1 / 2;
//     grid-column: 1/-1;
//     position: relative;
//     height: $search-bar-height-mobile;
//     border-radius: $search-bar-border-radius-scroll;
//     margin-top: 0.75rem;
//     transition: all 0.3s ease;
//     z-index: 110;
//     display: flex;
//     align-items: center; 
//     justify-content: center; 
//     box-sizing: border-box;
//     color: rgb(34, 34, 34);
//     gap: 2px;
//     font-family: Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont,
//         Roboto, 'Helvetica Neue', sans-serif;
    
//     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
//     background-color: rgb(255, 255, 255);
//     border: 1px solid #ececec;
//     cursor: pointer;

//     .search-elements {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//     }

//     .search-txt {
//         display: inline;
//         margin-left: 8px;
//         font-size: 15px;
//         white-space: nowrap;
//     }

//     .injected-svg {
//       width: 12px;
//       height: 12px;
//       stroke: black !important;
//       stroke-width: 4 !important;
//     }
// }