.user-menu-dropdown-wrapper {

    .user-menu-dropdown-container{
        background-color: $secondary-hover-gray;
        cursor: pointer;
        color: $clr7;
        .user-menu-content-no-loggedinuser {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            span {

            }
        }
        .user-menu-content-with-loggedinuser{

        }

    }
}