.main-container {
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow-y: auto; 

  & > header {
    grid-row: 1;
    grid-column: 1/-1;
  }

  & > footer {
    grid-row: 3;
    grid-column: 1/-1;
  }

  & > .home-edit-footer {
    grid-row: 3;
    grid-column: 1 / -1;
  }

   & > main {
    grid-column: 2;
    grid-row: 2;
    min-height: 0;
    overflow-y: auto;
    -ms-overflow-style: none;
    
    
  }
  main::-webkit-scrollbar { //works on safari and opera
    display: none;
    
  }
.full {
      grid-column: 1 / -1;
  }
    @include for-narrow-layout {
        grid-template-columns:
            minmax(20px, 1fr)
            minmax(auto, $mobile-breakpoint)
          minmax(20px, 1fr);
  }
  @include for-normal-layout {
      grid-template-columns:
          minmax(20px, 1fr)
          minmax(auto, $narrow-breakpoint)
          minmax(20px, 1fr);
  }
  @include for-wide-layout {
      grid-template-columns:
          minmax(20px, 1fr)
          minmax(auto, $normal-breakpoint)
          minmax(20px, 1fr);
  }
}

.homed-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

@media (max-width: 600px) {
  .main-container {
    grid-template-columns: 1rem 1fr 1rem;
  }
}
@media (max-width: 900px) {
  .main-container {
    grid-template-columns: 1rem 1fr 1rem;
  }
}
