.home-edit-step-one-b-container {
    .home-edit-step-one-b-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        h1 {

        }
        p{
            
        }
    }

    .home-edit-step-one-b-map-container {

    }
}