.home-edit-step-3-container {
    .home-edit-step-3-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        h1 {

        }
        p{
            
        }
    }

    .home-edit-step-3-map-container {

    }
}