.home-edit-footer {
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5rem;
    width: 100%;
    background-color: #fff;
    
    .home-edit-footer-loader-container {
        display: flex;
        gap: 0.1px;
        width: 100%;
        grid-column: 1/-1;
        line-height: unset;

        .home-edit-footer-loader {
        width: 30%;
        height: 6px;
        background-color: $primary-hover-gray;
        flex: 1;
        display: block;
   
        .home-edit-footer-loader-progress {
            position: relative;
            width: 100%;
            left: -100%;
            background-color: transparent;
            display: block;
            transition: transform 600ms linear;
            transform: translateX(0%);
            z-index: 10;
            &.passed {
                background-color: black;
            }
        }
    }

    .home-edit-footer-loader.step-1,
    .home-edit-footer-loader.step-2 {
        margin-right: 6px;
    }
    .home-edit-footer-loader.step-3 {
        margin-right: 0px;
    }
    
    
}

.home-edit-footer-main {
        grid-column: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .home-edit-back-btn {
            padding: 10px;
            transition: background-color 0.2s;
            border-radius: 8px;
            font-weight: 700;
            font-size: 1rem;
            text-align: center;
            width: auto;
            text-decoration: underline;
            color: $primary-black-inverted;
            background-color: #fff;
            margin: 0;
            &:hover {
                background-color: $secondary-hover-gray;
            }
        }
        
        .home-edit-next-btn {
            padding: 14px 32px;
            background-color: $primary-black-inverted;
            transition: box-shadow 0.2s cubic-bezier(0.2,0,0,1), transform 0.1s cubic-bezier(0.2,0,0,1);
            border-radius: 8px;
            font-weight: 500;
            line-height: 1.125rem;
            font-size: 1rem;
            text-align: center;
            margin: 0;
            color: #ffffff;
            width: auto;
            text-decoration: none;
            touch-action: manipulation;
            display: inline-block;
            position: relative;
            contain: paint;
            transform: none;
            box-shadow: none;
            
            &:disabled {
                cursor: not-allowed;
                border: none;
                color: $clr6;
                opacity: 1;
                background-color: $gray1;
            }

            &:hover {
                background-color: #1a1a1a;
                transform: scale(1.01);

            }
        }
    }
    
    @include for-mobile-layout {
      grid-template-columns:
          minmax(20px, 1fr)
          minmax(auto, $mobile-breakpoint)
          minmax(20px, 1fr);
  }
  @include for-narrow-layout {
      grid-template-columns:
          minmax(20px, 1fr)
          minmax(auto, $mobile-breakpoint)
          minmax(20px, 1fr);
  }
  @include for-normal-layout {
      grid-template-columns:
          minmax(20px, 1fr)
          minmax(auto, $narrow-breakpoint)
          minmax(20px, 1fr);
  }
  @include for-wide-layout {
      grid-template-columns:
          minmax(20px, 1fr)
          minmax(auto, $normal-breakpoint)
          minmax(20px, 1fr);
  }



}



    // .home-edit-footer-loader-value {
    //     height: 8px;
    //     width: 15%;
    //     position: absolute;
    //     left: 0;
    //     top: 50%;
    //     bottom: 80px;
    //     z-index: 999;
    //     background-color: $primary-font-black;
    //     transition: all 0.3s ease-in-out;
    //     transform: translate(-50%, -50%);
    //     overflow-x: hidden;
    //     flex-grow: 1;
    //     margin-right: 0px;
    // }




@media (max-width: $mobile-breakpoint) {

}

@media (min-width: $narrow-breakpoint) {
    
    .home-edit-next-btn {
            padding-inline: 32px;
        }
}

@media (max-width: $tablet-breakpoint) {
    
}

// $mobile-breakpoint: 580px;
// $tablet-breakpoint: 768px;
// $narrow-breakpoint: 720px;
// $normal-breakpoint: 960px;
