.home-edit-step-2-a-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    transition: opacity 0.6s;
    opacity: 1;
    // margin-block-end: 64px;
    margin-inline: auto;
    width: 100%;
    max-width: 630px;
    padding-bottom: 5.75rem;

    .home-edit-step-2-a-title {
        transform: translate(0px);
        opacity: 1;
        animation-delay: 400ms;
        margin-block-end: 32px;
        animation-duration: 600ms;
        animation-timing-function: cubic-bezier(0.2,0,0,1);
        animation-fill-mode: both;
        animation-iteration-count: 1;
        animation-name: fadeInUp;
        max-width: 630px;
        
        & > h1 {
            font-size: 2rem;
            line-height: 2.25rem;
            margin-block-end: 8px;
            letter-spacing: -0.04rem;
            font-weight: 500;
            color: $primary-black-inverted;
        }

        & > span {
            min-width: auto;
            line-height: 1.5rem;
            font-size: 1.125rem;
            color: $gray8;
        }
    }

    .home-edit-step-2-a-buttons-container {
        margin-block-start: 1.5rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;

        & > button {
            transform: translate(0px);
            opacity: 1;
            
            animation-name: fadeInUp;
            animation-duration: 600ms;
            animation-timing-function: cubic-bezier(0.2,0,0,1);
            animation-fill-mode: both;
            animation-iteration-count: 1;
            flex: 1 1 150px;
            background-color: $secondary-hover-gray;
            padding: 1rem;
            min-height: 100px;
            max-width: 200px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            transition: box-shadow 0.2s cubic-bezier(0.2,0,0,1), transform 0.1s cubic-bezier(0.2,0,0,1);
            border: 1px solid $gray6;
            width: 100%;
            height: auto;
            font-size: 100%;
            color: $primary-black-inverted;
            &:hover {
                box-shadow: 0 0 0 2px black;
            }
            &.selected {
                box-shadow: 0 0 0 2px black;
            }
        }
    }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px)
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: $narrow-breakpoint){
    .home-edit-step-2-a-container{
        .home-edit-step-2-a-title {
            & > h1 {

            }

            & > span {

            }
        }
        .home-edit-step-2-a-buttons-container {
            display: flex;
            gap: 12px;
            flex-wrap: wrap;
            justify-content: flex-start;

            & > button {
                
                max-width: 200px;
                transition: box-shadow 0.2s cubic-bezier(0.2,0,0,1), transform 0.1s cubic-bezier(0.2,0,0,1);
            & > h2 {

            }
            .home-edit-step-2-a-button {

            }
        }
    }
}
}
