.home-edit-footer {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: 5.75rem !important;
    width: 100% !important;
    box-sizing: border-box !important;
    background-color: #fff;
    z-index: 2;
    padding-inline: 1rem;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    top: auto !important;
    inset: unset !important;
    inset-block-start: unset !important;


    .home-edit-footer-loader-container {
        display: flex;
        gap: 0.1px;
        width: 100%;
        // max-width: 960px;
    }
    .home-edit-footer-loader {
        width: 30%;
        height: 6px;
        position: relative;
        background-color: $primary-hover-gray;
        flex: 1;
   
        .home-edit-footer-loader-progress {
            position: relative;
            width: 100%;
            left: -100%;
            // height: 100%;
            background-color: black;
            display: block;
            transition: transform 600ms linear;
            transform: translateX(0%);
        }
    }

    .home-edit-footer-loader.step-1,
    .home-edit-footer-loader.step-2 {
        margin-right: 6px;
    }
    .home-edit-footer-loader.step-3 {
        margin-right: 0px;
    }
    
    .home-edit-footer-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        // max-width: 960px;

        .home-edit-back-btn {
            padding: 10px;
            transition: background-color 0.2s;
            border-radius: 8px;
            font-weight: 500;
            font-size: 1rem;
            text-align: center;
            width: auto;
            text-decoration: underline;
            color: $primary-black-inverted;

            &:hover {
                background-color: $secondary-hover-gray;
            }
        }
        
        .home-edit-next-btn {
            padding: 14px 32px;
            background-color: $primary-black-inverted;
            transition: box-shadow 0.2s cubic-bezier(0.2,0,0,1), transform 0.1s cubic-bezier(0.2,0,0,1);
            border-radius: 8px;
            font-weight: 500;
            line-height: 1.125rem;
            font-size: 1rem;
            text-align: center;
            margin: 0;
            color: #ffffff;
            width: auto;
            text-decoration: none;
            touch-action: manipulation;
            display: inline-block;
            position: relative;
            contain: paint;
            transform: none;
            box-shadow: none;
            

            &:hover {
                background-color: #1a1a1a;
                transform: scale(1.01);

            }
        }
    }

}



    // .home-edit-footer-loader-value {
    //     height: 8px;
    //     width: 15%;
    //     position: absolute;
    //     left: 0;
    //     top: 50%;
    //     bottom: 80px;
    //     z-index: 999;
    //     background-color: $primary-font-black;
    //     transition: all 0.3s ease-in-out;
    //     transform: translate(-50%, -50%);
    //     overflow-x: hidden;
    //     flex-grow: 1;
    //     margin-right: 0px;
    // }




@media (max-width: $mobile-breakpoint) {

}

@media (min-width: $narrow-breakpoint) {
    
    .home-edit-next-btn {
            padding-inline: 32px;
        }
}

@media (max-width: $tablet-breakpoint) {
    
}

// $mobile-breakpoint: 580px;
// $tablet-breakpoint: 768px;
// $narrow-breakpoint: 720px;
// $normal-breakpoint: 960px;
