.home-edit-step-1-container {
    display: flex;
    // flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; 
    padding-inline: 2rem;


    .home-edit-step-1-text-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        color: $primary-font-black;
        & > div {
            &:nth-child(1){
                font-weight: 600;
                line-height: 1.5rem;
            }
            &:nth-child(2){
                margin-bottom: 3rem;
                font-size: 3rem;         
                font-weight: 600;
                line-height: 3.375rem;
        
            }
            &:nth-child(3) {
                margin-bottom: 3rem;
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 1.5rem
            }
        }
    }
    .home-edit-step-1-video-container {
        will-change: transform;
        max-width: 100%;
        max-width: 770px;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        // position: relative;
        flex-shrink: 1;         
        flex-grow: 0;   
        // min-height: 1px;
        display: flex;
        align-items: center;
        justify-content: center;


        .home-edit-step-1-video {
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: block;
    
        }
        
    }
}          
                    
    // @media (min-width: $normal-breakpoint) {
    //     .home-edit-step-1-video-container{
    //         width: 770px;
    //         margin-inline-start: 0;
    //         margin-bottom: 0;
    //     }
    // }

    // @media (min-width: $tablet-breakpoint) {
    //     .home-edit-step-1-video-container{
    //         margin-block-end: 16px;
    //         width: 100%;
    //         margin-inline-start: 0;
    //         clip-path: inset(1px 1px);
    //     }
    // }



@media (max-width: $mobile-breakpoint) {
    .home-edit-step-1-container{
        flex-direction: column;
        align-items: center;
        // width: 100%;
        // aspect-ratio: 16 / 9;
        // margin-block-end: 16px;
        // margin-inline-start: -24px;
        // clip-path: inset(1px 1px);
        .home-edit-step-1-text-container,
        .home-edit-step-1-video-container {
            width: 100%;
            max-width: 100%;
        }
    }

    .home-edit-container {
        display: flex;
        flex-direction: column-reverse;
    }
}