// @font-face {
//   // font-family: caveat;
//   // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
// }

@font-face {
  font-family: 'Airbnb';
  src: url('/fonts/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2')
    format('woff2');
  font-weight: 100 900;
  font-style: normal;
}
