$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;
$gray5: #ebebeb;

$divider-color: #e0e0e0;

// rgba(0, 0, 0, 0)
// Airbnb colors
$primary-font-black: rgb(34, 34, 34);
$secondary-font-gray: rgb(106, 106, 106);
$primary-pink: rgb(255, 56, 92);
$primary-hover-gray: rgb(221, 221, 221);
$secondary-background-gray: linear-gradient(
  180deg,
  #ffffff 39.9%,
  #f8f8f8 100%
);

// font sizes
$font-size-xxs: 0.625rem; // 10px
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-xxl: 1.5rem; // 24px

// Breakpoints
$mobile-breakpoint: 580px;
$tablet-breakpoint: 768px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// search bar
$search-bar-height: 66px;
$search-bar-border-radius: 32px;
$search-bar-height-scroll: 46px;
$search-bar-border-radius-scroll: 40px;
