// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';
@import 'setup/typography';

// Basics
@import 'basics/helpers';
@import 'basics/layout';
@import 'basics/base';
@import 'basics/links';
@import 'basics/forms';

// pages
@import 'RootCmp';

@import 'pages/AboutUs';
@import 'pages/HomePage';
@import 'pages/homeIndex';
@import 'pages/ReviewIndex';
@import 'pages/UserDetails';
@import 'pages/AdminIndex';
@import 'pages/TaskDetails';
@import 'pages/LoginSignup';
@import 'pages/Chat';
@import 'pages/HomeDetails';
@import 'pages/HomeEdit';


// Components
@import 'cmps/list';
@import 'cmps/preview';

@import 'cmps/AppHeader';
@import 'cmps/AppFooter';
@import 'cmps/UserMsg';
@import 'cmps/HomeList';
@import 'cmps/HomePreview';
@import 'cmps/SearchBar';
@import 'cmps/WhereDropdown';
@import 'cmps/ReservationModal';
@import 'cmps/CapacityDropdown';
@import 'cmps/GuestFav';

@import 'cmps/homeFilter';
@import 'cmps/ReviewEdit';
@import 'cmps/ReviewList';
@import 'cmps/ReviewPreview';
@import 'cmps/LabelsSlider';
@import 'cmps/LabelPreview';
@import 'cmps/FilterDropdown';
@import 'cmps/icons';
@import 'cmps/BuyingModals';
@import 'cmps/HeaderHomeDetails';
@import 'cmps/ReviewCard';
@import 'cmps/home-edit/HeaderHomeEdit';
@import 'cmps/home-edit/HomeEditStepOne';
@import 'cmps/home-edit/HomeEditFooter';
@import 'cmps/DatesDropdown';
@import 'cmps/home-edit/HomeEditStepTwo';
@import 'cmps/home-edit/HomeEditStepThree';
@import 'cmps/home-edit/HomeEditStepFour';
