:root {
  --header-height: 200px;
}
.app-header.scrolled {
  --header-height: 100px;
}

.main-container main {
  min-height: calc(100vh - 10rem);
  top: var(--header-height);
  transition: margin-top 0.3s ease;
}

